<div class="wrapper">
  <div class="wrapper-top">
    <div class="logo">
      <img src="./../../assets/img/logo.svg" />
      <h1>DABubble</h1>
    </div>
    <div class="search">
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Devspace durchsuchen"
        required
      />
    </div>
    <div class="user">
      Username
      <img class="user-img" src="./../../assets/img/00c.Charaters (2).svg" />
      <img class="arrow-img" src="./../../assets/img/arrow_drop_down.svg" />
    </div>
  </div>
  <div class="wrapper-main">
    <div class="left-container">
      <app-workspace-menu></app-workspace-menu>
    </div>
    <div class="middle-container"><app-chat-main></app-chat-main></div>
    <div class="right-container">
      <app-chat-small></app-chat-small>
    </div>
  </div>
</div>

<div class="workspace-container-left-menue">
  Workspace-Menü schliessen
  <img src="./../../assets/img/Group 2a.svg" />
</div>
