<div class="wrapper">
  <div class="logo">
    <div class="logo-container">
      <img src="./../../assets/img/logo.svg" />
      <h1>DABubble</h1>
    </div>
    <div><app-workspace-menu></app-workspace-menu></div>
  </div>

  <div class="search">
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Devspace durchsuchen"
      required
    />
    <div><app-chat-main></app-chat-main></div>
  </div>

  <div class="user">
    <div class="user-container">
      Username
      <img class="user-img" src="./../../assets/img/00c.Charaters (2).svg" />
      <img class="arrow-img" src="./../../assets/img/arrow_drop_down.svg" />
    </div>
    <div><app-chat-small></app-chat-small></div>
  </div>
</div>
@if(1==1) {
<p>Passt</p>
}
