<div class="wrapper">
  <div class="logo">
    <div class="logo-container">
      <img src="./../../assets/img/logo.svg" />
      <h1>DABubble</h1>
    </div>
    <div><app-workspace-menu></app-workspace-menu></div>
  </div>

  <div class="search">
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Devspace durchsuchen"
      required
    />
    <div><app-chat-main></app-chat-main></div>
  </div>

  <div class="user">
    <div class="user-container" (click)="toggleContainer('userPopUp')">
      Username
      <img class="user-img" src="./../../assets/img/00c.Charaters (2).svg" />
      <img class="arrow-img" src="./../../assets/img/arrow_drop_down.svg" />
    </div>
    <div><app-chat-small></app-chat-small></div>
  </div>
</div>
<!-- USer Pop Up Container -->
@if(openUserMenuStatus) {
<div class="userPopUpMenu">
  <a (click)="toggleContainer('userProfile')">Profil</a>
  <a>Logout</a>
</div>
} @if(openPopUpUserProfileStatus) {
<!-- Profile PopUp-->
<div class="profileWrapper">
  <div class="profile-container">
    <div class="head">
      <span>Profil</span
      ><a class="close" (click)="toggleContainer('userProfileClose')">X</a>
    </div>
    <img class="profile-img" src="./../../assets/img/00c.Charaters (1).svg" />
    <div class="info-container">
      Vorname Name
      <span class="status"><span class="bullet">&bull;</span>Aktiv</span>
      <div class="email-container">
        <img src="./../../assets/img/mail.svg" />E-Mail-Adresse
      </div>

      <a class="link" href="#">mail(at)provider.de</a>

      <div class="foot">
        <button class="blue-button">
          <img src="./../../assets/img/mode_comment.svg" />Nachricht
        </button>
      </div>
    </div>
  </div>
</div>
}
