<div class="wrapper">
  <div class="login-container">
    <div class="headline-container">
      <div class="headline">
        <a href="#"><img src="./../../assets/img/arrow_back.svg" /></a>
        <h1>Konto erstellen</h1>
      </div>
      <p>
        Mit deinem Namen und deiner E-Mail-Adresse hast du dein neue
        DABubble-Konto.
      </p>
    </div>

    <div class="form-container">
      <input
        type="text"
        name="nameSignIn"
        id="nameSignIn"
        placeholder="Name und Nachname"
        minlength="5"
        maxlength="30"
      />
      <input
        type="text"
        name="emaildSignIn"
        id="emailSignIn"
        placeholder="beispielname@e-mail.com"
        minlength="5"
        maxlength="30"
      />
      <input
        type="password"
        name="passwordSignIn"
        id="passSignIn"
        placeholder="Passwort"
        minlength="8"
        maxlength="35"
      />
    </div>
    <div class="disclaimer">
      <input type="checkbox" name="checked" id="cheked" /><span>
        Ich stimme der
        <a href="#">Datenschutzerklärung</a>zu.
      </span>
    </div>
    <div class="buttons-container">
      <button class="blue-button" type="submit">Weiter</button>
    </div>
  </div>
</div>
