@import "./../../styles.scss";
@import "./../loginpage/loginpage.component.scss";
.disclaimer {
  border: 0px solid black;
  width: 100%;
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(66, 82, 110, 1);
  a {
    margin-right: 5px;
    &:hover {
      font-weight: 700;
    }
  }
}
.buttons-container {
  border: 0px solid black;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.headline {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -100px;
  border: 0px solid black;
  img {
    &:hover {
      scale: 1.4;
    }
  }
}
