<div class="wrapper">
  <div class="login-container">
    <div class="headline-container">
      <div class="headline">
        <a href="#"><img src="./../../assets/img/arrow_back.svg" /></a>
        <h1>Wähle deinen Avatar</h1>
      </div>
      <img class="my-avatar" src="./../../assets/img/Profile Pic.svg" />
    </div>

    <div class="info-container">Vorname Name</div>
    <div class="info-text">Aus der Liste wählen</div>
    <div class="avatar-container">
      <img src="./../../assets/img/00c.Charaters (1).svg" />
      <img src="./../../assets/img/00c.Charaters (2).svg" />
      <img src="./../../assets/img/00c.Charaters (3).svg" />
      <img src="./../../assets/img/00c.Charaters (4).svg" />
      <img src="./../../assets/img/00c.Charaters (5).svg" />
    </div>
    <div class="own-img-container">
      eigenes Bild verwenden
      <button class="white-button">Datei Hochladen</button>
    </div>
    <div class="buttons-container">
      <button class="blue-button" type="submit">Weiter</button>
    </div>
  </div>
</div>
