<div class="wrapper">
  <div class="login-container">
    <div class="headline-container">
      <div class="headline">
        <a href="#"><img src="./../../assets/img/arrow_back.svg" /></a>
        <h1>Passwort zurücksetzen</h1>
      </div>
    </div>
    <p>Bitte geben Sie Ihre E-Mail Adresse ein.</p>
    <div class="form-container">
      <input
        type="text"
        name="emailPwReset"
        id="emailPwReset"
        placeholder="beispielname@e-mail.com"
        minlength="5"
        maxlength="30"
      />
    </div>
    <div class="info-container">
      Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
    </div>
    <div class="buttons-container">
      <button class="blue-button" type="submit">E-Mail senden</button>
    </div>
  </div>
</div>
