<div class="wrapper">
  <header>
    <div class="container-left">
      <img src="./../../assets/img/logo.svg" />
      DABubble
    </div>
    <div class="container-right">
      <span>Neu bei DABubble?</span>
      <a href="">Konto erstellen</a>
    </div>
  </header>
  <div class="login-container">
    <div class="headline-container">
      <h1>Anmeldung</h1>
      <p>
        Wir empfehlen dir, die E-Mail Adresse zu nutzen, die du bei der Arbeit
        verwendest.
      </p>
    </div>

    <div class="form-container">
      <input
        type="text"
        name="email"
        id="emailLogin"
        placeholder="beispielname@e-mail.com"
        minlength="5"
        maxlength="30"
      />
      <input
        type="password"
        name="pass"
        id="passlogin"
        placeholder="Passwort"
        minlength="8"
        maxlength="35"
      />

      <a href="#" class="pw-forgotten">Passwort vergessen?</a>
    </div>
    <div class="seperator-container">
      <div class="line"></div>
      <span class="or">ODER</span>
      <div class="line"></div>
    </div>

    <div class="google_login_container">
      <img src="../../assets/img/google-logo.svg" />Anmelden mit Google
    </div>

    <div class="buttons-container">
      <button class="blue-button" type="submit">Anmelden</button>
      <button class="white-button" type="submit">Gäste-Login</button>
    </div>
  </div>
  <footer><a href="">Impressum</a> <a href="">Datenschutz</a></footer>
</div>
