.wrapper {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 32px 30px;
  gap: 25px;
  margin-top: 25px;
  height: calc(100vh - (95px + 50px));
  width: 360px;
}
.workspace-top-container {
  border: 0px solid yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  div {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .top-logo {
    width: 60px;
    height: 60px;
  }
}

.workspace-middle-container {
  border: 0px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  .workspace-middle-container-top {
    width: 100%;
    border: 0px solid rgb(247, 5, 5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .outher-container {
      display: flex;
      align-items: center;
      gap: 25px;

      div {
        display: flex;
        gap: 15px;
      }
    }
  }
  .workspace-middle-container-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    border: 0px solid rgb(9, 219, 9);
    gap: 15px;
    padding-left: 35px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 25px;
  }
}
.direkt-msg-container {
  border: 0px solid black;
  display: flex;
  // justify-content: space-between;
  gap: 25px;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  div {
    display: flex;
    gap: 15px;
  }
}
.user-overview {
  margin-top: 30px;
  border: 0px solid black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  span {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 35px;
    padding: 4px 20px;
    font-size: 18px;
    font-weight: 400;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

.menu-close-container {
  // width: 306px;
  position: absolute;
  left: -112px;
  top: 581px;
  padding: 23px 14px;
  display: flex;
  align-items: center;

  gap: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transform: rotate(-90deg);
  img {
    width: 20px;
    height: 20px;
    transform: rotate(-90deg);
  }
}
