<div class="wrapper">
  <div class="workspace-top-container">
    <div>
      <img class="top-logo" src="./../../assets/img/workspace-logo.svg" />
      Devspace
    </div>
    <img src="./../../assets/img/edit_square.svg" />
  </div>

  <div class="workspace-middle-container">
    <div class="workspace-middle-container-top">
      <div class="outher-container">
        <img src="./../../assets/img/arrow_drop_down.png" />
        <div>
          <img src="./../../assets/img/workspaces.svg" />
          Channels
        </div>
      </div>
      <img src="./../../assets/img/add.svg" />
    </div>

    <div
      class="workspace-middle-container-bottom"
      (click)="toggleAddChannelPopUp()"
    >
      <img src="./../../assets/img/add_circle.svg" />Channel hinzufügen
    </div>
  </div>

  <div class="direkt-msg-container">
    <img class="arrow-img" src="./../../assets/img/arrow_drop_down.png" />
    <div>
      <img src="./../../assets/img/account_circle.svg" />
      Direcknachrichten
    </div>
  </div>
  <div class="user-overview">
    <span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span>
    <span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span
    ><span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span
    ><span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span
    ><span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span>
  </div>
</div>

<!--ADD CHANNEL POPUP CONTAINER-->
@if(addChannelPopUpStatus){
<div class="addChannelWrapper">
  <div class="top-container">
    <h3>Channel erstellen</h3>
    <span class="close" (click)="toggleAddChannelPopUp()">X</span>
  </div>
  <span
    >Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
    themenbezogen sein #marketing zum Beispiel.</span
  >
  <h4>Channel-Name</h4>
  <input
    type="text"
    name="channelNameInput"
    placeholder="z.B. Kooperationsprojekte"
  />
  <h4>Beschreibung <span>(optional)</span></h4>
  <input
    type="text"
    name="channelDiscriptionInput"
    placeholder="Dein Text hier"
  />
  <div class="bottomContainer">
    <button>Erstellen</button>
  </div>
</div>
} @if(addUserPopUpStatus){
<div class="addUserWrapper">
  <div class="top-container">
    <h2>Leute hinzufügen</h2>
    <span class="close">X</span>
  </div>
  <span>
    <input type="radio" name="user" checked />Alle Mitglieder von OfficeTeam
    hinzufügen
  </span>
  <span><input type="radio" name="user" />Bestimmte Leute hinzufügen</span>

  <div class="bottom-container">
    <button>Erstellen</button>
  </div>
</div>
}
