<div class="workspace-top-container mB50">
  <img class="top-logo" src="./../../assets/img/workspace-logo.svg" />
  Devspace
  <img class="mL58" src="./../../assets/img/edit_square.svg" />
</div>

<div class="workspace-middle-container">
  <div class="gap10">
    <img src="./../../assets/img/arrow_drop_down.png" />
    <div class="gap10">
      <img src="./../../assets/img/workspaces.svg" />
      Channels
    </div>
    <img class="mL100" src="./../../assets/img/add.svg" />
  </div>

  <div class="gap10 mB50">
    <img src="./../../assets/img/add_circle.svg" />Channel hinzufügen
  </div>
</div>

<div class="direkt-msg-container">
  <img class="arrow-img" src="./../../assets/img/arrow_drop_down.png" />
  <div class="gap10 mR15">
    <img src="./../../assets/img/account_circle.svg" />
    Direcknachrichten
  </div>
</div>
<div class="user-overview">
  <span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span>
  <span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span
  ><span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span
  ><span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span
  ><span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span>
</div>
