<div class="wrapper">
  <div class="workspace-top-container">
    <div>
      <img class="top-logo" src="./../../assets/img/workspace-logo.svg" />
      Devspace
    </div>
    <img src="./../../assets/img/edit_square.svg" />
  </div>

  <div class="workspace-middle-container">
    <div class="workspace-middle-container-top">
      <div class="outher-container" (click)="toggleContainer('channel')">
        <img
          src="./../../assets/img/arrow_drop_down.png"
          [ngStyle]="{ rotate: !isHideChannelContainer ? 'none' : '-90deg' }"
        />
        <div>
          <img src="./../../assets/img/workspaces.svg" />
          Channels
        </div>
      </div>

      <img
        (click)="toggleContainer('addChannel')"
        src="./../../assets/img/add.svg"
      />
    </div>
    @if(!isHideChannelContainer) {
    <div class="channel-list">
      <span>
        <h4>#</h4>
        channel 1</span
      >
      <span>
        <h4>#</h4>
        channel 2</span
      >
    </div>
    <div
      class="workspace-middle-container-bottom"
      (click)="toggleContainer('addChannel')"
    >
      <img src="./../../assets/img/add_circle.svg" />Channel hinzufügen
    </div>
    }
  </div>

  <div class="direkt-msg-container" (click)="toggleContainer('direktMessage')">
    <img
      class="arrow-img"
      src="./../../assets/img/arrow_drop_down.png"
      [ngStyle]="{ rotate: !isHideDirektMessageContainer ? 'none' : '-90deg' }"
    />
    <div>
      <img src="./../../assets/img/account_circle.svg" />
      Direcknachrichten
    </div>
  </div>
  <div
    class="user-overview"
    [ngStyle]="{ display: isHideDirektMessageContainer ? 'none' : 'flex' }"
  >
    <span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span>
    <span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span
    ><span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span
    ><span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span
    ><span><img src="../../assets/img/00c.Charaters (1).svg" />Test</span>
  </div>
</div>

<!--ADD CHANNEL POPUP CONTAINER-->
@if(isHideAddChannelContainer) {
<div class="addChannelWrapper">
  <div class="top-container">
    <h3>Channel erstellen</h3>
    <span class="close" (click)="toggleContainer('addChannel')">X</span>
  </div>
  <span
    >Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
    themenbezogen sein #marketing zum Beispiel.</span
  >
  <h4>Channel-Name</h4>
  <input
    type="text"
    name="channelNameInput"
    placeholder="z.B. Kooperationsprojekte"
  />
  <h4>Beschreibung <span>(optional)</span></h4>
  <input
    type="text"
    name="channelDiscriptionInput"
    placeholder="Dein Text hier"
  />
  <div class="bottomContainer">
    <button (click)="toggleContainer('addUser'); toggleContainer('addChannel')">
      Erstellen
    </button>
  </div>
</div>
} @if(isHideAddUserContainer){
<div class="addUserWrapper">
  <div class="top-container">
    <h2>Leute hinzufügen</h2>
    <span class="close" (click)="toggleContainer('addUser')">X</span>
  </div>
  <span>
    <input type="radio" name="user" checked />Alle Mitglieder von OfficeTeam
    hinzufügen
  </span>
  <span><input type="radio" name="user" />Bestimmte Leute hinzufügen</span>

  <div class="bottom-container">
    <button (click)="toggleContainer('addUser')">Erstellen</button>
  </div>
</div>
}
