.wrapper {
  background-color: white;
  border-radius: 30px;
  width: 989px;
  // margin-left: 25px;
  margin-right: 25px;
  padding: 25px 45px;
  height: calc(100vh - 150px);
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 6px 10px;
      border-radius: 100px;
      font-size: 24px;
      font-weight: 700;
    }
    .overview-team {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        height: 40px;
        width: 40px;
      }
      h2 {
        font-size: 20px;
        font-weight: 600;
      }
      .person-add {
        background-color: #d9e8fd;
        padding: 5px;
        border-radius: 100%;
      }
    }
  }
  .chat-output-main {
    padding: 6px 10px;
    height: calc(100% - 160px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 25px;
    .chat-message-container {
      display: flex;
      gap: 20px;
      padding-bottom: 25px;
      .inner-chat-message-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .name {
          font-size: 18px;
          display: flex;
          align-items: center;
          gap: 20px;
          font-weight: 700;
          .time {
            font-size: 14px;
            font-weight: 400;
            color: rgba(104, 104, 104, 1);
          }
        }
        .message {
          background-color: rgba(236, 238, 254, 1);
          padding: 15px;
          border-top-right-radius: 30px;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
        }
      }
    }
  }
  .chat-input-container {
    width: 100%;
    border-radius: 20px;
    border: 0x solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgba(173, 176, 217, 1);

    textarea {
      resize: none;
      border: unset;
      font-size: 18px;
      font-weight: 400;
      color: rgba(104, 104, 104, 1);
      outline: none;
    }
    .chat-input-container-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .chat-functions {
        border: 0px solid black;
        display: flex;
        align-items: center;
        gap: 5px;
        .seperator {
          height: 30px;
          width: 1px;
          border: 1px solid rgba(173, 176, 217, 1);
        }
        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
