<div class="wrapper">
  <div class="top">
    <h1>
      # Entwicklerteam <img src="./../../assets/img/arrow_drop_down.svg" />
    </h1>
    <div class="overview-team">
      <img class="user-img" src="./../../assets/img/00c.Charaters (1).svg" />
      <img class="user-img" src="./../../assets/img/00c.Charaters (2).svg" />
      <img class="user-img" src="./../../assets/img/00c.Charaters (3).svg" />
      <h2>3</h2>
      <img
        class="person-add"
        (click)="toggleContainer('addUserToExistingChannel')"
        src="./../../assets/img/person_add.svg"
      />
    </div>
  </div>
  <div class="chat-output-main">
    <div class="chat-message-container">
      <div><img src="./../../assets/img/00c.Charaters (2).svg" /></div>
      <div class="inner-chat-message-container">
        <div class="name">
          Vorname Nachname
          <span class="time">Uhrzeit</span>
        </div>
        <span class="message">Hier steht nachhe die Nachricht</span>
        <a (click)="toggleContainer('smallChat')">Antworten</a>
      </div>
    </div>

    <h2># Entwicklerteam</h2>
    <span
      >Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels
      #Entwickler Team</span
    >
  </div>
  <div class="chat-input-wrapper">
    <div class="chat-input-container">
      <textarea placeholder="Nachricht an Channel"></textarea>
      <div class="chat-input-container-bottom">
        <div class="chat-functions">
          <img src="./../../assets/img/add_grey.svg" />
          <div class="seperator"></div>
          <img src="./../../assets/img/sentiment_satisfied.svg" />
          <img src="./../../assets/img/alternate_email.svg" />
        </div>
        <img src="./../../assets/img/send.svg" />
      </div>
    </div>
  </div>
</div>
@if(isHideAddUserToExistingChannelContainer) {
<div class="addUserToExistingChannelContainer">
  <div class="top">
    <h2>Leute hinzufügen</h2>
    <span class="close" (click)="toggleContainer('addUserToExistingChannel')"
      >X</span
    >
  </div>
  <div class="channel-Name"># Netwicklerteam</div>
  <input type="text" name="nameInput" placeholder="Name eingeben" />
  <div class="bottom"><button>Hinzufügen</button></div>
</div>
}

<div class="channel-description-container">
  <header>
    <h2># Entwicklerteam</h2>
    <span class="close">X</span>
  </header>
  <div class="channel-name-container">
    <header>
      <h4>Channel-Name</h4>
      <a>Bearbeiten</a>
    </header>
    <span class="channel-name"># name des CHannels</span>
  </div>
  <div class="channel-description">
    <header>
      <h4>Beschreibung</h4>
      <a>Bearbeiten</a>
    </header>
    <span class="content"
      >Dieser Channel ist für alles rund um #dfsdf vorgesehen. Hier kannst du
      zusammen mit deinem Team Meetings abhalten, Dokumente teilen und
      Entscheidungen treffen.</span
    >
    <div class="seperator"></div>
    <h3>Erstellt von</h3>
    <a>Vorname Nachname</a>
  </div>
</div>
