<div class="wrapper">
  <div class="profile-container">
    <div class="head"><span>Profil</span><a class="close" href="#">X</a></div>
    <img class="profile-img" src="./../../assets/img/00c.Charaters (1).svg" />
    <div class="info-container">
      Vorname Name
      <span class="status"><span class="bullet">&bull;</span>Aktiv</span>
      <div class="email-container">
        <img src="./../../assets/img/mail.svg" />E-Mail-Adresse
      </div>

      <a class="link" href="#">mail(at)provider.de</a>

      <div class="foot">
        <button class="blue-button">
          <img src="./../../assets/img/mode_comment.svg" />Nachricht
        </button>
      </div>
    </div>
  </div>
</div>
