<div
  class="wrapper"
  [ngStyle]="
    isHideSmallChatContainer ? { display: 'none' } : { display: 'block' }
  "
>
  <header>
    <div class="headline-container">
      <h2>Thread</h2>
      # Entwicklerteam
    </div>
    <span class="close" (click)="isHideSmallChatContainer = true">X</span>
  </header>

  <div class="message-container">
    <img src="./../../assets/img/00c.Charaters (2).svg" />
    <div class="inner-nessage-container">
      <span class="username"
        >Name Nachname<span class="time">Uhrzeit</span></span
      >
      <div class="message">
        Hier steht die Nachticht dfkgjsdfgdsfg sdfgsdfgsdgsdfg sdfgsdfgsdgsg
      </div>
    </div>
  </div>

  <div class="chat-input-container">
    <textarea placeholder="Antworten..."></textarea>
    <div class="chat-input-container-bottom">
      <div class="chat-functions">
        <img src="./../../assets/img/add_grey.svg" />
        <div class="seperator"></div>
        <img src="./../../assets/img/sentiment_satisfied.svg" />
        <img src="./../../assets/img/alternate_email.svg" />
      </div>
      <img src="./../../assets/img/send.svg" />
    </div>
  </div>
</div>
